* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
}

.main-wrapper {
  text-align: center;
  background-color: white;
  height: 100vh;
}

.main-title {
  font-size: 40px;
}

.logo{
  
}

.button-wrapper {
  display: grid;
  grid-template-columns: 35% 65%;
  background-color: rgb(255, 255, 255);
  padding: 10px 0px;
  margin: 4% 4%;
  align-items: center;
  border-radius: 2px;
  border: 1px solid rgba(145, 141, 141, 0.5);
  -webkit-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
}

.button-wrapper:hover {
  background-color: rgba(204, 201, 201, 0.25);
}

.button-title{
  font-size: 24px;
  text-align: center;
}

.link{
  text-decoration: none;
}

.link:hover{
  color: none;
}
.link:visited{
  color: black;
}

@media only screen and (min-width: 1028px) {
  .button-wrapper {
    margin: 0% 20% 2% 20%;
  }
}
